---
import type { BorderStyle, RmUnitType } from '#UnitTypes.ts';

// import { BoxClass } from './box-l';

interface Props {
  padding?: RmUnitType;
  borderWidth?: RmUnitType;
  highlight?: boolean;
  borderStyle?: BorderStyle;
  invert?: boolean;
  children?: unknown;
}
const props = Astro.props;
---

<script>
  import './Box';
</script>
<div>
  <box-l {...props}>
    <slot />
  </box-l>
</div>
