---
import type { RmUnitType, BorderStyle } from '#UnitTypes.js';

import { Box } from './box-l';

interface Props {
  padding?: RmUnitType;
  borderWidth?: RmUnitType;
  highlight?: boolean;
  borderStyle?: BorderStyle;
  invert?: boolean;
  children?: unknown;
}
const props = Astro.props;
---

<div>
  <Box {...props} client:visible>
    <slot />
  </Box>
</div>

<style>
  div {
    border: 2px black solid;
  }
</style>
