---
import type { BorderStyle, RmUnitType } from '#UnitTypes.ts';

import { BoxClass } from './box-l';

interface Props {
  padding?: RmUnitType;
  borderWidth?: RmUnitType;
  highlight?: boolean;
  borderStyle?: BorderStyle;
  invert?: boolean;
  children?: unknown;
}
const props = Astro.props;
---

<div>
  <BoxClass {...props} client:visible>
    <slot />
  </BoxClass>
</div>
