---
import { getCollection } from 'astro:content';
// import { authorSchema } from '@/schemas/idex.js';
import { Stack } from '@/astro-custom-layout-components';
import LitBox from '@/lit-layout-components/Box/index.astro';

import Layout from '@/layouts/BaseLayout.astro';

const authors = await getCollection('authors');
---

<Layout title="authors">
  <!-- <Debug {tag} />
    <Debug {posts} /> -->
  <Stack space="var(--s1)">
    <LitBox><h2>authors</h2></LitBox>

    {
      authors.map(({ data }) => (
        <LitBox>
          <a href={`/authors/${data.id}`}>{data.name}</a>
        </LitBox>
      ))
    }
  </Stack>
</Layout>
