@import 'open-props/postcss/style';

/* 
the above import brings in
@import 'props.media.css';
@import 'props.fonts.css';
@import 'props.sizes.css';
@import 'props.easing.css';
@import 'props.zindex.css';
@import 'props.shadows.css';
@import 'props.aspects.css';
@import 'props.colors.css';
@import 'props.gradients.css';
@import 'props.animations.css';
@import 'props.borders.css';
 */
@import 'open-props/postcss/normalize';
@import 'open-props/postcss/buttons';
@import 'open-props/postcss/buttons/light';
@import 'open-props/postcss/buttons/dark';


@layer reset, legacy, defaults,  patterns, components, utilities, overrides;

@layer overrides {

   
    
}


@layer defaults {
    :root {
        --brand-light: var(--orange-6);
        --text-1-light: var(--gray-8);
        --text-2-light: var(--gray-7);
        --surface-1-light: var(--gray-0);
        --surface-2-light: var(--gray-1);
        --surface-3-light: var(--gray-2);
        --surface-4-light: var(--gray-3);

        /* dark theme values */
        --brand-dark: var(--orange-3);
        --text-1-dark: var(--gray-3);
        --text-2-dark: var(--gray-5);
        --surface-1-dark: var(--gray-12);
        --surface-2-dark: var(--gray-11);
        --surface-3-dark: var(--gray-10);
        --surface-4-dark: var(--gray-9);

        block-size: 100%;

        color-scheme: dark;
    }
}

@layer legacy {
    :root {
        --brand: var(--brand-light);
        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);
        --surface-1: var(--surface-1-light);
        --surface-2: var(--surface-2-light);
        --surface-3: var(--surface-3-light);
        --surface-4: var(--surface-4-light);
        --surface-shadow: var(--surface-shadow-light);
        --shadow-strength: var(--shadow-strength-light);

        @media (--OSdark) {
            --brand: var(--brand-dark);
            --text-1: var(--text-1-dark);
            --text-2: var(--text-2-dark);
            --surface-1: var(--surface-1-dark);
            --surface-2: var(--surface-2-dark);
            --surface-3: var(--surface-3-dark);
            --surface-4: var(--surface-4-dark);
            --surface-shadow: var(--surface-shadow-dark);
            --shadow-strength: var(--shadow-strength-dark);
        }
    }

   

    /* 
[color-scheme='light'] {
    color-scheme: light;

    --brand: var(--brand-light);
    --text-1: var(--text-1-light);
    --text-2: var(--text-2-light);
    --surface-1: var(--surface-1-light);
    --surface-2: var(--surface-2-light);
    --surface-3: var(--surface-3-light);
    --surface-4: var(--surface-4-light);
    --surface-shadow: var(--surface-shadow-light);
    --shadow-strength: var(--shadow-strength-light);
}

[color-scheme='dark'] {
    color-scheme: dark;

    --brand: var(--brand-dark);
    --text-1: var(--text-1-dark);
    --text-2: var(--text-2-dark);
    --surface-1: var(--surface-1-dark);
    --surface-2: var(--surface-2-dark);
    --surface-3: var(--surface-3-dark);
    --surface-4: var(--surface-4-dark);
    --surface-shadow: var(--surface-shadow-dark);
    --shadow-strength: var(--shadow-strength-dark);
}

[color-scheme='dim'] {
    color-scheme: dark;

    --brand: var(--brand-dim);
    --text-1: var(--text-1-dim);
    --text-2: var(--text-2-dim);
    --surface-1: var(--surface-1-dim);
    --surface-2: var(--surface-2-dim);
    --surface-3: var(--surface-3-dim);
    --surface-4: var(--surface-4-dim);
    --surface-shadow: var(--surface-shadow-dim);
    --shadow-strength: var(--shadow-strength-dim);
}

[color-scheme='grape'] {
    color-scheme: light;

    --brand: var(--brand-grape);
    --text-1: var(--text-1-grape);
    --text-2: var(--text-2-grape);
    --surface-1: var(--surface-1-grape);
    --surface-2: var(--surface-2-grape);
    --surface-3: var(--surface-3-grape);
    --surface-4: var(--surface-4-grape);
    --surface-shadow: var(--surface-shadow-grape);
    --shadow-strength: var(--shadow-strength-grape);
}

[color-scheme='choco'] {
    color-scheme: light;

    --brand: var(--brand-choco);
    --text-1: var(--text-1-choco);
    --text-2: var(--text-2-choco);
    --surface-1: var(--surface-1-choco);
    --surface-2: var(--surface-2-choco);
    --surface-3: var(--surface-3-choco);
    --surface-4: var(--surface-4-choco);
    --surface-shadow: var(--surface-shadow-choco);
    --shadow-strength: var(--shadow-strength-choco);
} */

    code {
        font-family: var(--font-mono);
    }
}
@layer patterns {
}
@layer components {
    a:any-link {
        color: var(--brand);
    }
    .button-class {
        border-radius: var(--radius-3);
        padding: var(--size-4) var(--size-8);
        box-shadow: var(--shadow-6);
        xxx: var(--xs-n-below);
        text-decoration: none;
        cursor: pointer;
        .blue & {
            color: var(--blue-6);
            background-color: var(--blue-0);
            border: var(--border-size-1) solid var(--blue-1);
            text-shadow: 0 1px 0 var(--blue-2);

            &:hover {
                background-color: var(--blue-1);
            }
        }
    }
    
}
@layer utilities {

   
 

    .surface-1 {
        background-image: var(--surface-1);
        color: var(--text-1);
    }

    .surface-2 {
        background-color: var(--surface-2);
        color: var(--text-2);
    }

    .surface-3 {
        background-color: var(--surface-3);
        color: var(--text-1);
    }

    .surface-4 {
        background-color: var(--surface-4);
        color: var(--text-1);
    }

    .block-wrap {
        display: flex;
        flex-wrap: wrap;
        flex-basis: var(--size-content-2);
        gap: var(--size-5) var(--size-8);
        align-items: flex-start;
    }
    blockquote {
        --_accent-1: var(--lime-5);
        --_accent-2: var(--lime-4);
        --_bg: var(--surface-2);
        --_ink: var(--text-1);

        color: var(--_ink);
        border-color: var(--_accent-2);
        background-color: var(--_bg);
        justify-self: flex-start;
    }
    /* h1,
    h2,
    h3,
    h4,
    p,
    dt {
        color: var(--text-1);
    }

    h5,
    h6,
    small,
    dd {
        color: var(--text-2);
    } */
}
