.outerul {
  display: flex;
  list-style-type: none;
  padding-inline-start: 0;
  gap: var(--size-5);
}

.open-props {
  display: flex;
  align-items: center;
  gap: var(--size-3);
}

.surface-samples {
  display: grid;
  --size: var(--size-content-1);
  grid-template-columns: var(--size) var(--size);
  grid-auto-rows: var(--size);
  gap: var(--size-5);
  margin-block-start: var(--size-6);
  > * {
    border-radius: var(--radius-3);
    display: grid;
    place-content: center;
    font-size: var(--font-size-3);
    font-weight: var(--font-weight-2);
    box-shadow: var(--shadow-6);
  }
}

.mySurf {
  div {
    {
      place-content: center;
      font-size: var(--font-size-3);
      font-weight: var(--font-weight-2);
      border-radius: var(--radius-3);
      box-shadow: var(--shadow-6);
    }
  }
}

/* @media (width <= 480px) {
  .surface-samples {
    --size: 40vw;
  }
} */

.text-samples {
  display: grid;
  gap: var(--size-3);
  > h5 {
    display: inline-flex;
    align-items: center;
    gap: var(--size-3);
  }
}

.text1 {
  color: var(--text-1);
}

.text2 {
  color: var(--text-2);
}

.link {
  color: var(--link);
  background-color: var(--link);
}

.link-visited {
  color: var(--link-visited);
  background-color: var(--link-visited);
}

.swatch {
  display: inline-block;
  flex-shrink: 0;
  inline-size: var(--size-8);
  block-size: var(--size-8);
  border-radius: var(--radius-round);
  box-shadow: var(--shadow-4);
  &.text1 {
    background-color: var(--text-1);
  }

  &.text2 {
    background-color: var(--text-2);
  }
}

.buttons-list {
  display: flex;
  align-items: flex-start;
  gap: var(--size-3);
  flex-wrap: wrap;
}

/* #forms__html5 > p {
  display: flex;
  align-items: center;
  gap: var(--size-3);
} */
