:where(p, ul, ol, dl, h6) {
  font-family: 'Caveat Brush', cursive;

  line-height: var(--s1);
  font-size: var(--s0);
}

.font-size\:base {
  font-size: var(--font-size-base) !important;
}
.font-size\:biggish {
  font-size: var(--font-size-biggish) !important;
}
.font-size\:big {
  font-size: var(--font-size-big) !important;
}
