---
import DeckofCards from '@components/DeckofCards.astro';
import { Box } from '@cc/index.js';
import Layout from '@layouts/BaseLayout.astro';

import { getCollection } from 'astro:content';
// import type { BlogSchemaType } from '../../schemas.ts';

// import type { CollectionEntry } from 'astro:content'

// A getStaticPaths function should always return a list of objects containing params
// (what to call each page route) and optionally any props (data that you want to pass to those pages).
//  Earlier, you defined each tag name that you knew was used in your blog and passed the entire list
//  of posts as props to each page.
export const prerender = true;

export const getStaticPaths = async () => {
  const allPosts = await getCollection('blog');
  const uniqueTags = [
    ...new Set(allPosts.map((__post) => __post.data.tags).flat()),
  ];

  // parama is  uniqueTags
  // and the post with that tag
  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      posts: allPosts.filter(
        ({ data }) => data.draft !== true && data.tags.includes(tag),
      ),
    },
  }));
};

const { tag } = Astro.params;
const { posts: publishedPostWithTags } = Astro.props;
---

<Layout>
  <Box borderWidth="0" padding="0">
    <Box borderWidth="0">
      <h1 class="gradient-text">{`#${tag}`}</h1>
    </Box>
    <DeckofCards publishsedPosts={publishedPostWithTags} />
  </Box>
</Layout>
