---
// import { Debug } from 'astro:components';
import Layout from '@/layouts/BaseLayout.astro';
import BlogCard from '@/components/BlogCard/index.astro';

import { getCollection } from 'astro:content';

export const prerender = true;

export const getStaticPaths = async () => {
  const publishsedPosts = await getCollection(
    'blog',
    ({ data }) => data.draft !== true,
  );

  const uniqueTags = [
    ...new Set(publishsedPosts.map(({ data }) => data?.tags || []).flat()),
  ];

  return uniqueTags.map((tag) => ({
    params: { tag },
    props: {
      postsWithThisTag: publishsedPosts.filter(({ data }) =>
        data.tags.includes(tag),
      ),
    },
  }));
};

const { tag } = Astro.params;
const { postsWithThisTag } = Astro.props;
---

<Layout title={tag as string}>
  <!-- <Debug {tag} />
  <Debug {posts} /> -->
  <!-- <Stack space="var(--s1)"> -->
  <!-- <Box borderWidth="0"><h2>#{tag}</h2></Box> -->
  {
    postsWithThisTag.map((post) => (
      <BlogCard
        backgroundColor="var(--surface-4)"
        foregroundColor="var(--text-2)"
        post={post}
      />
    ))
  }
  <!-- </Stack> -->
</Layout>
