---
import BaseLayout from '@layouts/BaseLayout.astro'

import { getCollection } from 'astro:content'

const allPosts = await getCollection('posts')

const tagCounts: Record<string, number> = {}

allPosts.forEach((post) =>
    (post.data.tags || []).forEach((tag: string) => {
        tagCounts[tag] = (tagCounts[tag] || 0) + 1
    })
)

const tags = [...new Set(allPosts.map((post) => post.data.tags).flat())]

// const tags = Object.keys(tagCounts)
---

<BaseLayout pageTitle="Tag Index">
    <div class="tags">
        {
            tags.map((tag) => (
                <button type="button">
                    <a href={`/tags/${tag}`}>
                        {tag} <span>({tagCounts[tag]})</span>
                    </a>
                </button>
            ))
        }
    </div>
</BaseLayout>

<style>
    a {
    }

    .tags {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto auto auto;

        gap: var(--size-1);

        & button {
        }
    }
</style>
