---
import Layout from '@/layouts/BaseLayout.astro';
import { Stack } from '@cc/index.ts';
import { Box } from '@/lit-layout-components/index.ts';
import CardDelux from '@/components/CardDelux.astro';
// import { Code } from 'astro:components';
import HeartBtn from '@/components/HeartBtn.astro';
const pageTitle = 'About Page';
---

<Layout title={pageTitle} maxW="60ch">
  <!-- <div class="app-colors"> -->
  <Stack>
    <!-- <Box borderWidth="0">
      <Code code={`const foo = 'bar';`} lang="js" />

      <Code code={`const foo = 'bar';`} lang="js" theme="dark-plus" />

      <Code code={`const foo = 'bar';`} lang="js" wrap />

      <p>
        <Code code={`const foo = 'bar';`} lang="js" inline />
        will be rendered inline.
      </p>
    </Box> -->
    <Box><HeartBtn /></Box>
    <CardDelux num={1}>
      <div slot="headline">Lorem ipsum dolor sit amet</div>
      <div slot="sub">Delectus eius itaque accusantium.</div>
      <div slot="body">
        Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
        inventore rem facere cum minima, tempora in accusamus voluptatum nobis,
        delectus eius itaque accusantium. Odio, maiores fugit.
      </div>
    </CardDelux>
    <CardDelux num={2}>
      <div slot="headline">Lorem ipsum dolor sit amet</div>
      <div slot="sub">Rem facere cum minima, tempora in accusamus</div>
      <div slot="body">
        Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
        inventore rem facere cum minima, tempora in accusamus voluptatum nobis,
        delectus eius itaque accusantium. Odio, maiores fugit.
      </div><CardDelux>
        <div slot="headline">Lorem ipsum dolor sit amet</div>

        <div slot="sub">on eaque sapiente,</div>

        <div slot="body">Doloribus quam non eaque sapiente</div>
      </CardDelux>
    </CardDelux>

    <CardDelux num={3}>
      <div slot="headline">Lorem ipsum dolor sit amet</div>
      <div slot="sub">Rem facere cum minima, tempora in accusamus</div>
      <div slot="body">
        Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
        inventore rem facere cum minima, tempora in accusamus voluptatum nobis,
        delectus eius itaque accusantium. Odio, maiores fugit.
      </div><CardDelux>
        <CardDelux num={4}>
          <div slot="headline">Lorem ipsum dolor sit amet</div>
          <div slot="sub">Rem facere cum minima, tempora in accusamus</div>
          <div slot="body">
            Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
            inventore rem facere cum minima, tempora in accusamus voluptatum
            nobis, delectus eius itaque accusantium. Odio, maiores fugit.
          </div><CardDelux>
            <div class="surface3 box">
              <Box
                ><em
                  >adipisicing elit. Doloribus quam non eaque sapiente,
                  inventore rem facere cum minima, tempora in accusamus
                </em></Box
              >
              <Box invert
                ><em
                  >invert oloribus quam non eaque sapiente, inventore rem facere
                  cum minima, tempora in accusamus voluptatum nobis,
                </em></Box
              >

              <Box
                ><p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Doloribus quam non eaque sapiente, inventore rem facere cum
                  minima, tempora in accusamus voluptatum nobis, delectus eius
                  itaque accusantium. Odio, maiores fugit.
                </p>
                <Box invert
                  ><em
                    >adipisicing elit. Doloribus quam non eaque sapiente,
                    inventore rem facere cum minima, tempora in accusamus
                    voluptatum nobis, delectus eius itaque accusantium. Odio,
                    maiores fugit.
                  </em>
                  <Box
                    ><em
                      >adipisicing elit. Doloribus quam non eaque sapiente,
                      inventore rem facere cum minima, tempora in accusamus
                      voluptatum nobis, delectus eius itaque accusantium. Odio,
                      maiores fugit.
                    </em></Box
                  ></Box
                >
              </Box>
              <Box
                ><p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Doloribus quam non eaque sapiente, inventore rem facere cum
                  minima, tempora in accusamus voluptatum nobis, delectus eius
                  itaque accusantium. Odio, maiores fugit.
                </p>
                <Box
                  ><em
                    >adipisicing elit. Doloribus quam non eaque sapiente,
                    inventore rem facere cum minima, tempora in accusamus
                    voluptatum nobis, delectus eius itaque accusantium. Odio,
                    maiores fugit.
                  </em></Box
                >
              </Box>
            </div>
          </CardDelux>
        </CardDelux>
      </CardDelux></CardDelux
    ></Stack
  >
  <!-- </div> -->
</Layout>
