---
import Layout from '@layouts/BaseLayout.astro';
import { Box, Stack } from '@cc/index.js';
import CardDelux from '@components/CardDelux.astro';

const pageTitle = 'About Page';
---

<Layout pageTitle={pageTitle}>
  <Stack>
    <CardDelux>
      <div slot="headline">Lorem ipsum dolor sit amet</div>

      <div slot="sub">
        on eaque sapiente, inventore rem facere cum minima, tempora in accusamus
        voluptatum nobis, delectus eius itaque accusantium. Odio, maiores fugit.
      </div>

      <div slot="body">
        Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
        inventore rem facere cum minima, tempora in accusamus voluptatum nobis,
        delectus eius itaque accusantium. Odio, maiores fugit.
      </div>
    </CardDelux>
    <CardDelux>
      <div slot="headline">Lorem ipsum dolor sit amet</div>

      <div slot="body">
        Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
        inventore rem facere cum minima, tempora in accusamus voluptatum nobis,
        delectus eius itaque accusantium. Odio, maiores fugit.
      </div>
    </CardDelux>
    <CardDelux>
      <div slot="headline">Lorem ipsum dolor sit amet</div>

      <div slot="body">
        Consectetur adipisicing elit. Doloribus quam non eaque sapiente,
        inventore rem facere cum minima, tempora in accusamus voluptatum nobis,
        delectus eius itaque accusantium. Odio, maiores fugit.
      </div>
    </CardDelux>

    <Box invert
      ><em
        >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
        facere cum minima, tempora in accusamus
      </em></Box
    >
    <Box invert
      ><em
        >oloribus quam non eaque sapiente, inventore rem facere cum minima,
        tempora in accusamus voluptatum nobis,
      </em></Box
    >

    <Box
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam
        non eaque sapiente, inventore rem facere cum minima, tempora in
        accusamus voluptatum nobis, delectus eius itaque accusantium. Odio,
        maiores fugit.
      </p>
      <Box invert
        ><em
          >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
          facere cum minima, tempora in accusamus voluptatum nobis, delectus
          eius itaque accusantium. Odio, maiores fugit.
        </em>
        <Box
          ><em
            >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
            facere cum minima, tempora in accusamus voluptatum nobis, delectus
            eius itaque accusantium. Odio, maiores fugit.
          </em></Box
        ></Box
      >
    </Box>
    <Box
      ><p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam
        non eaque sapiente, inventore rem facere cum minima, tempora in
        accusamus voluptatum nobis, delectus eius itaque accusantium. Odio,
        maiores fugit.
      </p>
      <Box
        ><em
          >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
          facere cum minima, tempora in accusamus voluptatum nobis, delectus
          eius itaque accusantium. Odio, maiores fugit.
        </em></Box
      >
    </Box>
  </Stack>
</Layout>
