---
import BaseLayout from '@layouts/BaseLayout.astro';
import { Box } from '@cc/index.js';

export const prerender = true;
const pageTitle = 'About Page';
---

<BaseLayout pageTitle={pageTitle}>
  <Box>
    <!-- <i class="fa-solid fa-user"></i> -->

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam
      non eaque sapiente, inventore rem facere cum minima, tempora in accusamus
      voluptatum nobis, delectus eius itaque accusantium. Odio, maiores fugit.
    </p>
    <Box invert
      ><em
        >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
        facere cum minima, tempora in accusamus
      </em></Box
    >
    <Box invert
      ><em
        >oloribus quam non eaque sapiente, inventore rem facere cum minima,
        tempora in accusamus voluptatum nobis,
      </em></Box
    >
  </Box>
  <Box
    ><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam
      non eaque sapiente, inventore rem facere cum minima, tempora in accusamus
      voluptatum nobis, delectus eius itaque accusantium. Odio, maiores fugit.
    </p>
    <Box invert
      ><em
        >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
        facere cum minima, tempora in accusamus voluptatum nobis, delectus eius
        itaque accusantium. Odio, maiores fugit.
      </em>
      <Box
        ><em
          >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
          facere cum minima, tempora in accusamus voluptatum nobis, delectus
          eius itaque accusantium. Odio, maiores fugit.
        </em></Box
      ></Box
    >
  </Box>
  <Box
    ><p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus quam
      non eaque sapiente, inventore rem facere cum minima, tempora in accusamus
      voluptatum nobis, delectus eius itaque accusantium. Odio, maiores fugit.
    </p>
    <Box
      ><em
        >adipisicing elit. Doloribus quam non eaque sapiente, inventore rem
        facere cum minima, tempora in accusamus voluptatum nobis, delectus eius
        itaque accusantium. Odio, maiores fugit.
      </em></Box
    >
  </Box>
</BaseLayout>

<style>
  .skill {
    font-weight: var(--font-weight-7);
    text-transform: var(--textCase);
    /* color: var(--accent); */
  }
</style>
