---
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'

interface Frontmatter {
    title: string
    draft: boolean
}

const allPosts = await Astro.glob<Frontmatter>('./posts/*.md')
const nonDraftPosts = allPosts.filter((post) => !post.frontmatter.draft)
const pageTitle = 'Blog Page'
---

<BaseLayout pageTitle={pageTitle}>
    <h2>All of this is Markdown</h2>
    <p>The blog post list is dynamically created</p>
    <ul>
        {
            nonDraftPosts.map(
                (post) =>
                    post.url && (
                        <BlogPost
                            url={post.url}
                            title={post.frontmatter.title}
                        />
                    )
            )
        }
    </ul>
</BaseLayout>
