---
import { getCollection } from 'astro:content'
import BaseLayout from '../layouts/BaseLayout.astro'
import BlogPost from '../components/BlogPost.astro'

const pageTitle = 'My Astro Learning Blog'
const publishsedPost = await getCollection(
    'posts',
    ({ data }) => data.draft !== true
)

const getFormatAuth = (authorId: string) => {
    return authorId
        .split('-')
        .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
        .join(' ')
}
---

<BaseLayout pageTitle={pageTitle}>
    <ul>
        {
            publishsedPost.map((post) => (
                <li>
                    <BlogPost href={'/posts/' + post.slug}>
                        {post.data.title}-
                        <em>{getFormatAuth(post.data.author.id)}</em>-
                        {post.data.pubDate.toDateString()}
                    </BlogPost>
                </li>
            ))
        }
    </ul>
</BaseLayout>
