---
import BaseLayout from '@layouts/BaseLayout.astro'
import { getCollection } from 'astro:content'

import Link from '@components/PolyMorphicElement.astro'

const pageTitle = "Mike's Bloggy Blog Blog"
const publishsedPost = await getCollection(
    'posts',
    ({ data }) => data.draft !== true,
)

const getFormatAuth = (authorId: string) => {
    return authorId
        .split('-')
        .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
        .join(' ')
}
---

<BaseLayout pageTitle={pageTitle} surfaceClass="surface-3">
    <p>
        Below are static lorem-ipsum blog post created in <a
            href="https://www.markdownguide.org">Mardown</a
        >. No CMS, not html, or CSS. Just a .md file basted off a template.
    </p>

    <ul>
        {
            publishsedPost
                .sort((a, b) => {
                    return a.data.pubDate > b.data.pubDate ? -1 : 1
                })
                .map((post) => (
                    <li>
                        <Link as="a" href={'/posts/' + post.slug}>
                            {post.data.title}-
                            <em>{getFormatAuth(post.data.author.id)}</em>-
                            {post.data.pubDate.toDateString()}
                        </Link>
                    </li>
                ))
        }
    </ul>
</BaseLayout>
