---
import Layout from '#layouts/Layout.astro';
import Stack from '#lit-wc/Stack/index.astro';

const pageTitle = 'box class';
---

<Layout title={pageTitle}>
  <!-- <div class="app-colors"> -->
  <Stack space="0">
    <div class="box invert">
      <pre
        class="pre-wrap">&lt;div class="box invert"&gt;
  Here using the box class rather than the Box web component.
&lt;/div&gt;</pre>
    </div>

    <div class="box">
      <pre
        class="pre-wrap">&lt;div class="box"&gt;
  Here using the box class rather than the Box web component.
&lt;/div&gt;</pre>
    </div>

    <div class="box invert">
      <pre
        class="pre-wrap">&lt;div class="box invert"&gt;
  Here using the box class rather than the Box web component.
&lt;/div&gt;</pre>
    </div>

    <div class="box-no-border">
      <pre
        class="pre-wrap">&lt;div class="box-no-border"&gt;
  Here using the box class rather than the Box web component.
&lt;/div&gt;</pre>
    </div>
  </Stack>
</Layout>
<!-- </div> -->

<style>
  .pre-wrap {
    white-space: pre-wrap;
  }
</style>
