---
import Layout from '#layouts/SimpleLayout.astro';
import { Stack } from '#astro-wc/index.js';

const pageTitle = 'box class';
---

<Layout title={pageTitle}>
  <!-- <div class="app-colors"> -->
  <Stack>
    <div class="box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus
      cumque consequatur obcaecati perspiciatis nam sit doloribus aut culpa quae
      officiis excepturi labore sunt, similique veniam, voluptatibus minus?
      Corrupti, nemo?
    </div>
    <div class="box invert">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus
      cumque consequatur obcaecati perspiciatis nam sit doloribus aut culpa quae
      officiis excepturi labore sunt, similique veniam, voluptatibus minus?
      Corrupti, nemo?
    </div>
    <div class="box invert">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus
      cumque consequatur obcaecati perspiciatis nam sit doloribus aut culpa quae
      officiis excepturi labore sunt, similique veniam, voluptatibus minus?
      Corrupti, nemo?
    </div>
    <div class="box">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis natus
      cumque consequatur obcaecati perspiciatis nam sit doloribus aut culpa quae
      officiis excepturi labore sunt, similique veniam, voluptatibus minus?
      Corrupti, nemo?
    </div>
  </Stack>
  <!-- </div> -->
</Layout>
