---
import Layout from '@/layouts/BaseLayout.astro';
import Box from '@/lit-layout-components/Box/index.astro';
---

/lit-layout-components/Box/box-l.js

<Layout title="home">
  <!-- <div class="underCopy box">JavaScript | CSS | Astro | Monorepos | Burning Man Stuff | Rafting | Travel | Dogs | Radical Pragmatism</div> -->
  <Box borderWidth="10px">
    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias,
    nesciunt. Ratione, praesentium laudantium. Quae, reiciendis doloribus iure
    vero obcaecati, fugiat accusamus veniam accusantium reprehenderit, delectus
    blanditiis saepe sint! Vero, neque?
  </Box>
</Layout>
