---
// import AstroNavigateSelect from '@/components/AstroNavigateSelect.astro';

import Layout from '@/layouts/BaseLayout.astro';
import { Box } from '@/lit-layout-components/index.js';
---

<Layout title="home">
  <Box borderWidth="0">
    <p>
      Invert box stats tempor esse dolore proident pariatur excepteur commodo
      tempor duis magna ut.
    </p>
    <!-- </Box>

  <Box
    >Web components with custom elements
    <AstroHeart /></Box
  >

  <Box invert padding="0" borderWidth="0">
    <Box borderWidth="0"
      ><MyElement client:only="lit">my-element</MyElement></Box
    >
    <Box borderWidth="0" invert
      ><HeartButton client:only="lit">heart-btn</HeartButton></Box
    >
  </Box>
  <Box borderWidth="0" invert>
    <MyElement client:only="lit">my-element</MyElement>
    <HeartButton client:only="lit">heart-btn</HeartButton> -->
  </Box>
</Layout>
