---
// import AstroNavigateSelect from '@/components/AstroNavigateSelect.astro';

import Layout from '@/layouts/BaseLayout.astro';

import { Cluster, Stack } from '@cc/index.ts';
---

<Layout title="home">
  <Stack splitAfter={1}>
    <div class="box"><i class="fa-solid fa-camera fa-1x"></i></div>

    <div class="box">
      <i class="fa-solid fa-camera fa-2x"></i>
    </div>

    <div class="box invert"><i class="fa-solid fa-camera fa-3x"></i></div>
    <!-- <div class="card"><i class="fa-solid fa-camera fa-4x"></i></div>
  <div class="card"><i class="fa-solid fa-camera fa-5x"></i></div>
  <div class="card"><i class="fa-solid fa-camera fa-6x"></i></div>
  <div class="card"><i class="fa-solid fa-camera fa-7x"></i></div>
  <div class="card"><i class="fa-solid fa-camera fa-8x"></i></div>
  <div class="card"><i class="fa-solid fa-camera fa-9x"></i></div>
  <div class="card"><i class="fa-solid fa-camera fa-10x"></i></div> -->
  </Stack>
</Layout>

<!-- <Box borderWidth="10px">
      <div style="font-size: 3rem;">
        <div class="card"><i class="fa-solid fa-camera fa-xs"></i></div>
  
    </div>
    <Box borderWidth="10px">
      <Github href="https://github.com/mconnor" width={64} height={64} />
    </div>
    <Box borderWidth="10px">
      <Twitter href="https://twitter.com/mconnor" width={64} height={64} /> -->

<style>
  .card {
    border-radius: var(--radius-drawn-3);
    border: var(--border-size-2) solid var(--text-2);
    padding: var(--s1);
  }
</style>
