---
// import AstroNavigateSelect from '@components/AstroNavigateSelect.astro';

import Layout from '@layouts/BaseLayout.astro';
// import { LitHeartButton } from '@wc/LitHeartButton';
import { MyElement } from '@components/my-element';
import { Box } from '@cc/index';
import AstroHeart from '@components/HeartBtn.astro';
---

<Layout pageTitle="home">
  <Box borderWidth="2px" invert
    ><p>
      Laborum culpa consequat tempor esse dolore proident pariatur excepteur
      commodo tempor duis magna ut.
    </p></Box
  >
  <Box borderWidth="2px">
    <Box
      >Web components with custom elements
      <AstroHeart /></Box
    >
<!-- 
    <Box>
      <LitHeartButton client:only="lit" borderW="6px"
        >Lit components</LitHeartButton
      ></Box
    > -->

    <Box borderWidth="2px"><MyElement client:only="lit">xxx</MyElement> </Box>
    <Box borderWidth="2px"><MyElement client:only="lit">JJJ</MyElement></Box>
    <!-- <Box><AstroNavigateSelect client:visible /></Box> -->
  </Box>

  <!-- <style>
  [class^='box'] {
    max-inline-size: var(--size-content-3);
  }
</style> -->
</Layout>
