---
// export const prerender = true;
// import AstroNavigateSelect from '#components/AstroNavigateSelect.astro';
// import { fade } from 'astro:transitions';
// interface ImageMetadata {
//   src: string;
//   width: number;
//   height: number;
//   format: string;
// }
import { Image } from 'astro:assets';
// import Andy from '#assets/andyBushes.jpg';
import AndyMud from '#assets/andy_mud_color.webp';
import Layout from '#layouts/Layout.astro';

import Frame from '#astro-wc/Frame/index.astro';
import Box from '#lit-wc/Box/index.astro';
import Stack from '#lit-wc/Stack/index.astro';
---

<Layout title="home">
  <!-- <div class="underCopy box">JavaScript | CSS | Astro | Monorepos | Burning Man Stuff | Rafting | Travel | Dogs | Radical Pragmatism</div> -->
  <Stack space="0">
    <Box padding="var(--s0)">
      <h1>Welcome to my long overdue public-professoinal-personal shingle.</h1>
      <p>This is a WIP. Standby for sizzling oringnal and nurtious content.</p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate
        alias culpa ad tenetur molestiae, itaque laboriosam dolor, ipsum,
        asperiores modi cumque aut unde enim quo voluptas incidunt eligendi
        reprehenderit a?
      </p>
    </Box>

    <Box invert borderWidth="1px" padding="var(--s0)">
      <p>This is Andy. He's purebred mutt from the shelter in New Orleans.</p>
      <Frame ratio="16:9">
        <Image
          src={AndyMud}
          widths={[240, 540, 720, AndyMud.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${AndyMud.width}px`}
          alt="A description of my image."
        />
      </Frame>
    </Box>

    <Box borderWidth="0" padding="var(--s0)"
      ><p>We currently reside in Old Westport, KCMO</p></Box
    >
  </Stack>
</Layout>
