---
import Form from '../components/form.astro'
import BaseLayout from '@layouts/BaseLayout.astro'
import HeartBtn from '@components/HeartBtn.astro'
---

<BaseLayout pageTitle="home" surfaceClass="surface-3">
  <HeartBtn />
  <HeartBtn />
  <button onclick="throw new Error('This is a test error')">
    Throw test error
  </button>
  <HeartBtn />
  <Form />
</BaseLayout>
