---
// import AstroNavigateSelect from '@/components/AstroNavigateSelect.astro';

// interface ImageMetadata {
//   src: string;
//   width: number;
//   height: number;
//   format: string;
// }
import { Image } from 'astro:assets';
// import Andy from '@/assets/andyBushes.jpg';
import AndyMud from '@/assets/andy_mud_color.webp';
import Layout from '@/layouts/BaseLayout.astro';
import { Stack, Box, Frame } from '@cc/index.ts';
---

<Layout title="home" maxW="100ch">
  <Stack space="var(--s0)">
    <div class="box-no-border title">Mike Connor - Web Developer</div>

    <Box padding="0">
      <Frame ratio="16:9">
        <Image
          src={AndyMud}
          widths={[240, 540, 720, AndyMud.width]}
          sizes={`(max-width: 360px) 240px, (max-width: 720px) 540px, (max-width: 1600px) 720px, ${AndyMud.width}px`}
          alt="A description of my image."
        />
      </Frame></Box
    >

    <div class="box-no-border sub">
      & Andy! Mutt from the shelter in New Orleans
    </div>

    <div class="box-no-border copy">
      <div>Currently residing in Old Westport, KCMO</div>
      <div>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur
        illo nesciunt reprehenderit iste fugit temporibus hic totam quaerat
        error eaque suscipit, officiis neque ipsam nulla corporis molestiae odit
        laborum et?
      </div>
    </div>
  </Stack>
</Layout>

<style>
  .title {
    font-size: var(--font-size-4);
    padding: '0';
  }
  .sub {
    padding: '0';
    font-size: var(--font-size-3);
  }
  .copy {
    padding: '0';
    font-size: var(--font-size-0);
  }

  /* .circle-mask {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
  } 


img {

    object-fit: none;
  }*/
</style>
