---
// import AstroNavigateSelect from '@components/AstroNavigateSelect.astro';

import Layout from '@layouts/BaseLayout.astro';
import { HeartButton } from '@wc/heart-button';
import { MyElement } from '@wc/my-element';
import { Box } from '@cc/index';
import AstroHeart from '@components/HeartBtn.astro';
---

<Layout pageTitle="home">
  <Box borderWidth="0">
    <span style="font-size: 3rem;">
      <span style="color: Mediumslateblue;">
        <i class="fa-solid fa-camera"></i>
      </span>
    </span>
    <p>
      Invert box stats tempor esse dolore proident pariatur excepteur commodo
      tempor duis magna ut.
    </p>
  </Box>

  <Box
    >Web components with custom elements
    <AstroHeart /></Box
  >

  <Box invert padding="0" borderWidth="0">
    <Box borderWidth="0"
      ><MyElement client:only="lit">my-element</MyElement></Box
    >
    <Box borderWidth="0" invert
      ><HeartButton client:only="lit">heart-btn</HeartButton></Box
    >
  </Box>
  <Box borderWidth="0" invert>
    <MyElement client:only="lit">my-element</MyElement>
    <HeartButton client:only="lit">heart-btn</HeartButton>
  </Box>
</Layout>
