---
// import AstroNavigateSelect from '@/components/AstroNavigateSelect.astro';

import Layout from '@/layouts/BaseLayout.astro';

import Card from '@/components/CardDelux.astro';
---

<Layout title="home">
  <Card>
    <h2 slot="headline">Mike Connor - Dev</h2>

    <h3 slot="sub">Ideas on tech, culture,</h3>
    <p slot="body">
      Now available in beautiful Westport, KCMO... by way of | New Orleans |
      Porland, OR | Brooklyn, NY | DC | Chicago | KCMO
    </p>
  </Card>
</Layout>
