---
import Form from '@components/form.astro'

import BaseLayout from '@layouts/BaseLayout.astro'
import HeartBtn from '@components/HeartBtn.astro'
import { Box } from '@cc/index'
---

<BaseLayout pageTitle="home" surfaceClass="surface-3">
  <HeartBtn />
  <HeartBtn />
  <button onclick="throw new Error('This is a test error')">
    Throw test error
  </button>
  <HeartBtn />
  <Form />
  <Box> hello </Box>
  <Box invert borderWidth="2px" padding="10px"> hello </Box>
</BaseLayout>
