---
// import type { HTMLAttributes }
// interface Props extends HTMLAttributes<'div'> {}

// const {htm }  = Astro.props;
---

<astro-theme-switcher>
  <form id="theme" data-select-theme data-doc>
    <label>
      Auto
      <input type="radio" name="theme" value="auto" checked />
    </label>
    <label>
      Light
      <input type="radio" name="theme" value="light" />
    </label>
    <label>
      Dark
      <input type="radio" name="theme" value="dark" />
    </label>
    <label>
      Dim
      <input type="radio" name="theme" value="dim" />
    </label>
    <label>
      Grape
      <input type="radio" name="theme" value="grape" />
    </label>
    <label>
      Choco
      <input type="radio" name="theme" value="choco" />
    </label>
  </form>
</astro-theme-switcher>

<style>
  form {
    label {
      padding-right: 1rem;
    }
  }
</style>
<script>
  class AstroThemeSwitcher extends HTMLElement {
    constructor() {
      super();
      this._firstDocElement = window.document.firstElementChild;
      // Bind the handleChange method to ensure the context is correct when called
      this.handleChange = this.handleChange.bind(this);
    }

    connectedCallback() {
      this.querySelector('[data-select-theme]')?.addEventListener(
        'input',
        this.handleChange,
      );
    }

    disconnectedCallback() {
      this.querySelector('[data-select-select]')?.removeEventListener(
        'input',
        this.handleChange,
      );
    }

    handleChange(e) {
      console.log(`set theme  to: ${e.target.value}`); // This console log is for debugging purposes
      // Using 'navigate' function from 'astro:transitions/client'
      this._firstDocElement.setAttribute('data-theme', e.target.value);
    }
  }

  customElements.define('astro-theme-switcher', AstroThemeSwitcher);
</script>
