---
import { format } from 'date-fns'
import type { CollectionEntry } from 'astro:content'

interface Props {
    posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props

const getFormatAuth = (authorId: string) => {
    return authorId
        .split('-')
        .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
        .join(' ')
}
---

<ul class="mygrid">
    {
        posts.map((post) => (
            <li>
                <button>
                    <a href={'/posts/' + post.slug}>
                        {post.data.title},
                        <span class="small-text">
                            {getFormatAuth(post.data.author.id)},
                            {format(post.data.pubDate, 'MMM do, yyyy')}
                        </span>
                    </a>
                </button>
            </li>
        ))
    }
</ul>

<style>
    .mygrid {
        display: grid;
        grid-template-columns: 1fr;

        border: 1px solid var(--color-gray-300);

        li {
            align-self: stretch;
            list-style: none;
            button {
                width: 100%;
                margin-top: var(--size-2);

                .small-text {
                    font-size: 0.8rem;
                }
            }
        }
    }
</style>
