---
import { format } from 'date-fns'
import Link from '@components/Link.astro'

interface Props {
    posts: {
        data: {
            title: string
            pubDate: string
        }
        slug: string
    }[]
}

const { posts } = Astro.props
---

<ul>
    {
        posts.map((post) => (
            <li>
                <Link as="a" href={'/posts/' + post.slug}>
                    {post.data.title},{' '}
                    <span class="small-text">
                        {format(post.data.pubDate, 'MMMM do, yyyy')}
                    </span>
                </Link>
            </li>
        ))
    }
</ul>

<style>
    li {
        & a {
            transition: text-shadow 1s ease;
            &:hover {
                /* background-color: var(--surface-3); */
                /* font-weight: var(--font-weight-6); */
                text-decoration: none;
                text-shadow: 0 0 1px var(--brand);
            }
        }
    }
    .small-text {
        font-size: 0.8rem;
    }
</style>
