---
import { format } from 'date-fns'
import type { CollectionEntry } from 'astro:content'

interface Props {
    posts: CollectionEntry<'blog'>[]
}

const { posts } = Astro.props

const getFormatAuth = (authorId: string) => {
    return authorId
        .split('-')
        .map((part) => part.charAt(0).toUpperCase() + part.slice(1))
        .join(' ')
}
---

<ul>
    {
        posts.map((post) => (
            <li>
                <button>
                    <a href={'/posts/' + post.slug}>
                        {post.data.title},
                        <span class="small-text">
                            - {getFormatAuth(post.data.author.id)}
                            {format(post.data.pubDate, 'MMMM do, yyyy')}
                        </span>
                    </a>
                </button>
            </li>
        ))
    }
</ul>

<style>
    li {
        list-style: none;
        button {
            margin-top: var(--size-2);
            width: 100%;
        }
    }

    .small-text {
        font-size: 0.8rem;
    }
</style>
