---
import { Box, Stack } from '@cc/index.js';

interface Props {
  // href?: string;
  num?: number;
  children: HTMLElement[];
}
const { num = 4 } = Astro.props as Props;
const className = `surface${num}`;
// import { Switcher, Stack, Box, Frame } from '@cc/index.js';
// const { href } = Astro.props;
---

<article class={className}>
  <Stack>
    <Box borderWidth="0" invert padding="var(--s0)">
      <h2><slot name="headline" /></h2>
    </Box>
    <Box borderWidth="0" padding="var(--s0)">
      <h3><slot name="sub" /></h3>
    </Box>
    <Box borderWidth="0" padding="var(--s0)">
      <p class="main-copy"><slot name="body" /></p>
    </Box>
  </Stack>
</article>

<style>
  article {
    border-radius: var(--radius-drawn-3);
    border: var(--border-size-4) solid var(--text-2);
  }
  p {
    font-size: var(--font-size-4) !important;
  }

  p.main-copy::first-letter {
    font-size: var(--font-size-8) !important;
    line-height: var(--line-height-8) !important;
    font-style: italic;
  }
</style>

<!-- 
class="box-no-border invert surface4" -->
