---
type Props = {
  href: string;
  children: HTMLElement[];
};

const { href } = Astro.props;
---

<a href={href} class:list={['card']}>
  <slot name="top" />
  <slot name="middle" />
  <slot name="bottom" />
</a>

<style>
  .card {
    text-decoration: none;
    color: var(--text-3) !important;
    background-color: var(--surface-3) !important;

    border-radius: var(--radius-4);
    padding: var(--size-fluid-3);
    box-shadow: var(--shadow-2);

    margin-top: var(--size-fluid-3);
    &:hover {
      box-shadow: var(--shadow-3);
    }
  }
</style>
