---
type Props = {
  href: string;
  children: HTMLElement[];
};
// import { Switcher, Stack, Box, Frame } from '@cc/index.js';
const { href } = Astro.props;
---

<div class:list={['card', 'surface3']}>
  <a href={href}>
    <slot />
  </a>
</div>

<style>
  .card {
    background-color: var(--surface-3);
    border-radius: var(--radius-4);

    box-shadow: var(--shadow-2);

    &:hover {
      box-shadow: var(--shadow-3);
    }

    @media (--motionOK) {
      animation: var(--animation-fade-in);
    }
  }
</style>
