---
import { Box, Stack } from '@cc/index.js';

interface Props {
  // href?: string;
  children: HTMLElement[];
}
// import { Switcher, Stack, Box, Frame } from '@cc/index.js';
// const { href } = Astro.props;
---

<article class="card surface4">
  <Stack>
    <div class="box-no-border invert surface4">
      <slot name="headline" />
    </div>
    <Box borderWidth="0">
      <slot name="sub" />
    </Box>
    <Box borderWidth="0">
      <slot name="body" />
    </Box>
  </Stack>
</article>

<style>
  article {
    &.card {
      border-radius: var(--radius-drawn-3);
      border: var(--border-size-4) solid var(--text-2);
    }
  }
</style>
