---
import { Box, Stack } from '@cc/index.js';

interface Props {
  //   href: string;
  children: HTMLElement[];
}
// import { Switcher, Stack, Box, Frame } from '@cc/index.js';
// const { href } = Astro.props;
---

<div class="box card">
  <div class="headlineClass">
    <h2><slot name="headline" /></h2>
  </div>
  <Box borderWidth="0" padding="var(--s1)">
    <p><slot name="body" /></p>
  </Box>
</div>

<style>
  .headlineClass {
    border-radius: var(--radius-drawn-6);
    border: var(--border-size-2) solid var(--text-2);
    padding: var(--s1);
  }
  .card {
    border-radius: var(--radius-drawn-3);
    border: var(--border-size-4) solid var(--text-2);
    padding: var(--s1);

    background-color: var(--surface-1);
    padding: var(--s1);
    /* box-shadow: var(--shadow-2); */

    /* &:hover {
      box-shadow: var(--shadow-3);
    }

    @media (--motionOK) {
      animation: var(--animation-fade-in);
    } */
  }
</style>
