---
interface Props {
  href: string;
  children: HTMLElement[];
}
// import { Switcher, Stack, Box, Frame } from '@cc/index.js';
const { href } = Astro.props;
---

<div class:list={['card', 'box']}>
  <a href={href}>
    <slot />
  </a>
</div>

<style>
  .card {
    border-radius: var(--radius-drawn-3);
    border: var(--border-size-4) solid var(--text-2);
    padding: var(--s1);

    box-shadow: var(--shadow-2);

    &:hover {
      box-shadow: var(--shadow-3);
    }

    @media (--motionOK) {
      animation: var(--animation-fade-in);
    }
  }
</style>
