---
import { Box } from '@cc/index.js';

type Props = {
  href: string;
  children: HTMLElement[];
};

const { href } = Astro.props;
---

<a href={href}>
  <div class="card">
    <Box invert>
      <slot name="top" />
      <slot name="middle" />
      <slot name="bottom" />
    </Box>
  </div>
</a>

<style>
  .card {
    border-radius: var(--radius-conditional-3);
    border: var(--border-size-1) solid var(--text-1);

    overflow: hidden;
    box-shadow:
      0 0 0 1px rgb(0 0 0 / 0.1),
      0 2px 4px rgb(0 0 0 / 0.1);
    transition: box-shadow 0.2s ease;
    /* color: var(--text-1);
    background-color: red; */
    padding: var(--size-3);
  }
</style>
