---
import { format } from 'date-fns';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { Stack, Frame, Cluster } from '@cc/index.js';

import Card from '@components/Card.astro';
import { Image } from 'astro:assets';
// import { clearCachedFetchImplementation } from '@sentry/browser/types/transports/utils';

interface Props {
  publishsedPosts: CollectionEntry<'blog'>[];
}

const { publishsedPosts } = Astro.props;

// interface PostWithAuthorInt {
//   title: string;
//   authName: string;
//   pubDate: Date;
//   slug: string;
//   cover: { url: string; alt: string };
//   desc: string;
// }

const getDecoratedPosts = async (_posts: CollectionEntry<'blog'>[]) =>
  await Promise.all(
    _posts.map(async (p) => {
      const { data } = p;
      const { author, title, pubDate, cover, description } = data;

      const name = await getEntry('authors', author.id)
        .then((obj) => obj.data.name)
        .catch((e) => {
          console.error(e);
          return 'unknown author';
        });

      return {
        title,
        authName: name,
        pubDate,
        slug: p.slug,
        cover,
        description,
      };
    }),
  )
    .then((res) => res)
    .catch((e: Error) => {
      console.error(e.message);
      return [];
    });

const decoratedPost = await getDecoratedPosts(publishsedPosts);
---

<Stack space="var(--s1)">
  {
    decoratedPost.map(({ pubDate, slug, title, description, cover }) => (
      <Card href={'/posts/' + slug}>
        <div class="title">
          <p>{format(pubDate, 'MMMM dd, yyyy')}</p>
        </div>

        <Frame ratio="4:3">
          <Image src={cover.url} alt={cover.alt} width="1200" height="300" />
        </Frame>

        <div class="title">
          <Cluster justify="space-between" align="baseline">
            <div>
              <h3>{title}</h3>
            </div>
            <div>
              <span>{description}</span>
            </div>
          </Cluster>
        </div>
      </Card>
    ))
  }
</Stack>

<style>
  .title {
    padding: var(--s0) var(--s2);
  }
  .cardColor {
    background-color: yellow;
  }
  p {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
  }
  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
