---
import { format } from 'date-fns';
import type { CollectionEntry } from 'astro:content';
import { getEntry } from 'astro:content';
import { Switcher, Stack, Box, Frame } from '@cc/index.js';

import Card from '@components/Card.astro';
import { Image } from 'astro:assets';
// import { clearCachedFetchImplementation } from '@sentry/browser/types/transports/utils';

type PostType = CollectionEntry<'blog'>;

interface Props {
  posts: PostType[];
}

const { posts } = Astro.props;

// interface PostWithAuthorInt {
//   title: string;
//   authName: string;
//   pubDate: Date;
//   slug: string;
//   cover: { url: string; alt: string };
//   desc: string;
// }

const getDecoratedPosts = async (_posts: PostType[]) =>
  await Promise.all(
    _posts.map(async (p) => {
      const { data } = p;
      const { author } = data;

      const authorObj = await getEntry('authors', author.id);

      return {
        title: data.title,
        authName: authorObj.data.name,
        pubDate: data.pubDate,
        slug: p.slug,
        cover: data.cover,
        desc: data.description,
      };
    }),
  );

const decoratedPost = await getDecoratedPosts(posts);
---

<Stack space="var(--size-6)" recursive>
  {
    decoratedPost.map(({ pubDate, slug, title, desc, cover }) => (
      <Card href={'/posts/' + slug}>
        <Box borderWidth="0" slot="top">
          {format(pubDate, 'MMM do, yyyy')}
        </Box>

        <Box slot="middle" padding="0" borderWidth="0">
          <Frame ratio="4:3">
            <Image src={cover.url} alt={cover.alt} width="1500" height="643" />
          </Frame>
        </Box>

        <Box slot="bottom" borderWidth="0">
          <Switcher threshold="var(--size-fluid-10)">
            <h2 class="title">{title}</h2>

            <p class="truncate">{desc}</p>
          </Switcher>
        </Box>
      </Card>
    ))
  }
</Stack>

<style>
  p {
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-2);
  }
  .truncate {
    flex-grow: 1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .title {
    flex-grow: 1;
  }
</style>
