---
import Social from './Social.astro'

import { Box, Cluster } from '@cc/index.js'
---

<footer class="my-colors">
  <Box>
    <h3>footer</h3>
    <Cluster justify="space-around">
      <Social platform="twitter" />
      <Social platform="github" />
      <Social platform="youtube" />
    </Cluster>
  </Box>
</footer>
