---
import Social from './Social.astro'
const platform = 'github'
const username = 'withastro'


const { class: className , ...rest} = Astro.props

---

<style>
 
    .social {
        justify-self: center;
        display: flex;
        flex-direction: row;
    }
</style>

<footer class:list={[className ]}  {...rest}>
    <p>
        Learn more about my projects on
        <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!
    </p>
    <div class="social">
        <Social platform="twitter" username="astrodotbuild" />
        <Social platform="github" username="withastro" />
        <Social platform="youtube" username="astrodotbuild" />
    </div>
</footer>
