---
import Social from './Social.astro'
const platform = 'github'
const username = 'withastro'

type Props = Record<string, never>
---

<style>
    footer {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        justify-items: center;
        padding-top: var(--size-1);
    }
    .social {
        grid-template-columns: 1fr 1fr 1fr;
    }
</style>

<footer class="surface-4">
    <p>
        Learn more about my projects on
        <a href={`https://www.${platform}.com/${username}`}>{platform}</a>!
    </p>
    <div class="social">
        <Social platform="twitter" username="astrodotbuild" />
        <Social platform="github" username="withastro" />
        <Social platform="youtube" username="astrodotbuild" />
    </div>
</footer>
