---
import Social from './Social.astro'



const { class: className , ...rest} = Astro.props

---

<style>
 
    .social {
        display: grid;
        grid: 1fr/ 1fr 1fr 1fr;
        gap: var(--size-fluid-5);
       
    }
</style>

<footer class:list={[className ]}  {...rest}>
    <p>
        Learn more about my projects on
       
    </p>
    <div class="social">
        <Social platform="twitter" username="mconnor" />
        <Social platform="github" username="mconnor" />
        <Social platform="youtube" username="mconnor"/>
    </div>
</footer>
