---

---

<select data-navigate-select>
  <option value="/play">Play</option>
  <option value="/blog">Blog</option>
  <option value="/about">About</option>
  <option value="/tags">Tags</option>
</select>

<script>
  import { navigate } from 'astro:transitions/client'

  document.addEventListener('astro:page-load', () => {
    document
      .querySelector('[data-navigate-select]')
      ?.addEventListener('change', (e) => {
        navigate((e.target as HTMLSelectElement).value)
      })
  })
</script>
