---

---

<script src="../scripts/startnav.ts"></script>

<select>
    <option value="/play">Play</option>
    <option value="/blog">Blog</option>
    <option value="/about">About</option>
    <option value="/tags">Tags</option>
</select>
