---
type Props = Record<string, never>
---

<style>
    #menu__toggle {
        display: none;
       
        &:checked + .menu__btn {
            & span {
                transform: rotate(45deg);
                animation(--animations)
            }
            & span::before {
                top: 0;
                transform: rotate(0);
            }
            & span::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
        
        &:checked ~ .menu__box {
            display: flex;
            flex-direction:column;
        }
    }

    .hamburger-menu {

     

        display: block;
        position: relative;
        & .menu__btn {
            display: flex;
            align-items: center;
            position: relative;
            top: var(--size-5);
            left: var(--size-5);

            width: var(--size-12);
            height: var(--size-1);
        
            cursor: pointer;
            z-index: 1;
            user-select: none;
         

            :is(span),
            :is(span)::before,
            :is(span)::after {
                display: block;
                position: absolute;
                height: var(--size-1);
                width: var(--size-4);
                background-color: var(--surface-1);
                transition: all 0.3s ease;
                content: '';

                @media (prefers-color-scheme: dark) {
                    // --brand: var(--brand-light);
                    // --text-1: var(--text-1-light);
                    // --text-2: var(--text-2-light);
                    --surface-1: var(--surface-1-light);
                    // --surface-2: var(--surface-2-light);
                    // --surface-3: var(--surface-3-light);
                    // --surface-4: var(--surface-4-light);
                    // --surface-shadow: var(--surface-shadow-light);
                    // --shadow-strength: var(--shadow-strength-light);
        }

        /* set defaults */

                @media (prefers-color-scheme: light) {
                    // --brand: var(--brand-dark);
                    // --text-1: var(--text-1-dark);
                    // --text-2: var(--text-2-dark);
                    --surface-1: var(--surface-1-dark);
                    // --surface-2: var(--surface-2-dark);
                    // --surface-3: var(--surface-3-dark);
                    // --surface-4: var(--surface-4-dark);
                }
            }



            :is(span)::before{
                top: calc(-1 * var(--size-2))
            }
            :is(span)::after {
                top:var(--size-2)
            }


          
            

            @media (min-width: 630px) {
                display: none;
            }
        }

        & .menu__box {
            display: none;
            position: absolute;
           
           
            box-shadow: var(--shadow-1);

           
            & li {
             
                list-style: none;
                border-width: var(--border-size-1);
                background-color: var(--surface-4);
                white-space: nowrap;
                &:hover {
                    background-color: var(--surface-3);
                }
            }
            @media (width>= 630px) {
                display: flex;
                flex-direction:row;
       
                position: static;
            
                /* background: none; */

               
            }

            & .menu__item {
              
                color: var(--text-1);
                
               
                // padding: 12px 24px;
                text-decoration: none;
                transition: background-color 0.3s ease;
                @media (min-width: 630px) {
                    padding: 10px 15px;
                }

                // &:hover {
                //     background-color: var(--surface-4)
                // }
            }
        }
    }
</style>

<div class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>

 <ul class="menu__box">
        <li><a class="menu__item" href="/">Home</a></li>
        <li><a class="menu__item" href="/about/">About</a></li>
        <li><a class="menu__item" href="/kitchensink/">Kitchen Sink</a></li>
        <li><a class="menu__item" href="/blog/">Blog</a></li>
        <li><a class="menu__item" href="/tags/">Tags</a></li>
    </ul>
</div>
