---
type Props = Record<string, never>
---

<style>
    #menu__toggle {
        display: none;

        &:checked + .menu__btn {
            & span {
                transform: rotate(45deg);
            }
            & span::before {
                top: 0;
                transform: rotate(0);
            }
            & span::after {
                top: 0;
                transform: rotate(90deg);
            }
        }
        @media (width< 630px) {
            display: none;

            &:checked ~ .menu__box {
                display: grid;
                & li {
                    animation: var(--animation-slide-in-right);
                }
                & li:nth-child(1) {
                    animation-delay: 0.1s;
                }
                & li:nth-child(2) {
                    animation-delay: 0.2s;
                }
                & li:nth-child(3) {
                    animation-delay: 0.3s;
                }
                & li:nth-child(4) {
                    animation-delay: 0.4s;
                }
                & li:nth-child(5) {
                    animation-delay: 0.5s;
                }
            }
        }
    }

    .hamburger-menu {
        display: grid;

        position: relative;
        & .menu__btn {
            display: grid;
            grid-template-columns: repeat(3, auto-fill);
            align-items: center;
            justify-content: center;
            position: static;
            background: var(--surface-4);

            height: var(--size-8);
            user-select: none;

            :is(span),
            :is(span)::before,
            :is(span)::after {
                display: block;
                width: var(--size-5);
                height: var(--size-1);

                transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
                content: '';
                background-color: var(--surface-1);
            }

            :is(span)::before,
            :is(span)::after {
                content: '';
                display: block;
                position: absolute;
                z-index: 2;
            }

            :is(span)::before {
                top: 25%;
            }
            :is(span)::after {
                bottom: 25%;
            }
            @media (min-width: 630px) {
                display: none;
            }
        }

        & .menu__box {
            display: none;

            position: relative;
            padding-inline: 0;
            row-gap: var(--size-1);

            & li {
                padding-inline: var(--size-2);
                border-width: var(--border-size-2);
                border-color: var(--brand);
                border-radius: var(--radius-2);
                background-color: var(--surface-2);
                white-space: nowrap;
                display: grid;
                grid-template-columns: auto-fill;
                justify-content: center;

                & .menu__item {
                    color: var(--text-1);
                }
                &:hover {
                    background-color: var(--surface-3);
                    cursor: pointer;
                    text-decoration: none;
                }
            }
            @media (width>= 630px) {
                display: grid;
                grid-template-columns: repeat(5, 1fr);
                gap: var(--size-fluid-3);

                position: static;

                /* background: none; */
            }
        }
    }
</style>

<nav class="hamburger-menu">
    <input id="menu__toggle" type="checkbox" />
    <label class="menu__btn" for="menu__toggle">
        <span></span>
    </label>

    <ul class="menu__box">
        <li><a class="menu__item" href="/">Home</a></li>
        <li>
            <a class="menu__item" href="/about/">About</a>
        </li>
        <li><a class="menu__item" href="/kitchensink/">Kitchen Sink</a></li>
        <li><a class="menu__item" href="/blog/">Blog</a></li>
        <li><a class="menu__item" href="/tags/">Tags</a></li>
    </ul>
</nav>
