---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'

type Props = Record<string, never>
---

<style>
    nav {
        background-color: black;
    }
</style>

<header>
    <nav>
        <Hamburger />
    </nav>
</header>
