---
import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'

interface Props {
  class?: string
}

const { class: className = 'surface-1' } = Astro.props
---

<div class={className}>
  <!-- <ThemeIcon /> -->
  <Hamburger class="nav" />
</div>

<style>
  .mybanner {
    width: 100vh;
  }
</style>
