---
import type { HTMLAttributes } from 'astro/types'
interface Props extends HTMLAttributes<'header'> {}

import Hamburger from './Hamburger.astro'
import ThemeIcon from './ThemeIcon.astro'

interface Props {
    class?: string
}

const { class: className = 'surface-1', ...rest } = Astro.props
---

<style>
    div {
        .mybanner {
            width: 500px;
            border: 1px solid var(--gray-5);
            z-index: 2;
        }
        .layout {
            display: subgrid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
        }
        .icon {
            grid-area: icon;
        }
        .nav {
            grid-area: hamburger;
        }
    }
</style>

<div class="mybanner" {...rest}>
    <ThemeIcon />
    <Hamburger class="nav" />
</div>
