---
import Hamburger from './Hamburger.astro'

interface Props {
    class?: string
}

const { class: className = 'header', ...rest } = Astro.props
---

<style>
    .banner {
        background-color: var(--brand);
        width: 100%;
    }
</style>

<header class={className} {...rest}>
    <!-- <div class="banner">
        <h4 >mike</h4>
    </div> -->
    <Hamburger class={className} />
</header>
