---
import Navigation from './Navigation.astro'
import Hamburger from './Hamburger.astro'
---

<style>
    nav {
        background-color: black;
    }
</style>

<header>
    <nav>
        <Hamburger />
        <Navigation />
    </nav>
</header>
