---

---

<!-- <astro-heart>
  <button aria-label="Heart">💜</button> × <span>0</span>
</astro-heart> -->
<script>
  import { LitElement, html } from 'lit';
  import { customElement, property } from 'lit/decorators.js';

  @customElement('astro-heart')
  class AstroHeart extends LitElement {
    @property()
    count: number = 0;

    click() {
      this.count++;
    }

    render() {
      return html`
        <button @click=${this.click} aria-label="Heart">💜</button>${this
          .count}<span>0</span>
      `;
    }
  }
</script>
