---
import type { HTMLAttributes } from 'astro/types';
// import { Center, Icon } from '@cc/index.js';

type Props = HTMLAttributes<'a'>;

const path = Astro.url.pathname;
const { href, ...props } = Astro.props;
const isActive = href === path || href === path.replace(/\/$/, '');
---

<a href={href} class:list={['btn', { disabled: isActive }]} {...props}
  ><slot /></a
>

<!-- <a href={href} class:list={[{ current: isActive }]} {...props}><slot /></a> -->
