---
import type { HTMLAttributes } from 'astro/types';
import { Box } from '@cc/index.js';

type Props = HTMLAttributes<'a'>;

const path = Astro.url.pathname;
const { href, ...props } = Astro.props;
const isActive = href === path || href === path.replace(/\/$/, '');
---

<Box padding="0" borderWidth="0">
  <a href={href} class:list={[{ active: isActive }]} {...props}><slot /></a>
</Box>
