---
// import type { HTMLAttributes } from 'astro/types';

// import { Center, Icon } from '@cc/index.js';
import { Box } from '@/lit-layout-components/index.ts';
interface Props {
  href: string;

  isMainNav?: boolean;
}

const path = Astro.url.pathname;
const { href, isMainNav = false } = Astro.props;

const isActive = href === path || href === path.replace(/\/$/, '');
---

<Box borderWidth="0" padding="0">
  <div class="navItem">
    <a
      href={href}
      class:list={[
        { disabled: isActive },
        { navItem: !isMainNav },
        { mainNavItem: isMainNav },
      ]}><slot /></a
    >
  </div>
</Box>

<!-- <a href={href} class:list={[{ current: isActive }]} {...props}><slot /></a> -->
<style>
  .navItem {
    font-weight: var(--font-weight-3);
    font-size: var(--font-size-2);
    a {
      /* font-family: var(--font-sans); */
      &:link {
        color: var(--brand);
        text-decoration: wavy;
      }
      &:hover {
        color: var(--brand);
      }
      &:visited {
        color: var(--brand);
        text-decoration: wavy;
      }
      .navItem {
        font-size: var(--font-size-1);
        font-weight: var(--font-weight-8);
        white-space: nowrap;
      }
    }

    .mainNavItem {
      font-weight: var(--font-weight-3);
      font-size: var(--font-size-3);
    }
  }
</style>
