---
interface Props {
  href: string
}

const { href } = Astro.props
---

<a href={href}><slot /></a>

<style>
  button.blue {
    color: var(--blue-6);
    background-color: var(--blue-0);
    border: 1px solid var(--blue-1);
    text-shadow: 0 1px 0 var(--blue-2);
    text-decoration: none;

    &:hover {
      background-color: var(--blue-1);
    }
  }
</style>
