---
// import Link from '@/components/Link.astro';
import { Box } from '@cc/index.ts';
// type SocialType = 'twitter' | 'instagram' | 'github' | 'linkedin' | 'youtube';

interface Props {
  username?: string;
  platform: 'twitter' | 'instagram' | 'github' | 'linkedin' | 'youtube';
}
const { platform, username = 'mconnor' } = Astro.props;
---

<Box borderWidth="0" padding="var(--s0)">
  <a href={`https://www.${platform}.com/${username}`}>
    <i data-lucide={platform}></i>
  </a>
</Box>
