---
import { Box } from '@/lit-layout-components/index.ts';
import MyIcon from '@/components/MyIcon.astro';

interface Props {
  username?: string;

  /** The name-path of svg in src/icons */
  name: string;

  href: string;

  /** Shorthand for including a <title>{props.title}</title> element in the SVG */
  title?: string;
  /** Shorthand for setting width and height */
  size?: number;
  width?: number;
  height?: number;

  // 'logos/twitter' | 'instagram' | 'github' | 'linkedin' | 'youtube';
}
const { name, href, ...rest } = Astro.props;
---

<Box borderWidth="0" padding="var(--s0)">
  <a href={href}>
    <MyIcon name={name} {...rest} />
  </a>
</Box>
