---
// import Link from '@components/Link.astro';
import { Box } from '@cc/index.js';
// type SocialType = 'twitter' | 'instagram' | 'github' | 'linkedin' | 'youtube';

interface Props {
  username?: string;
  platform: 'twitter' | 'instagram' | 'github' | 'linkedin' | 'youtube';
}
const { platform, username = 'mconnor' } = Astro.props;
---

<Box borderWidth="0" padding="0">
  <a href={`https://www.${platform}.com/${username}`}
    >platform
    <!-- <i class:list={['fa-brands', 'fa-xs', `fa-${platform}`]}></i> -->
    {platform}
  </a>
</Box>

<style>
  .xs {
    font-size: 1rem;
  }
</style>
