---
import TagIcon from './TagIcon.astro'
type Props = {
    tag: string
}

const { tag } = Astro.props
---

<button class="btn">
    <TagIcon />
    <a class="menu__item" href={`/tags/${tag}`}>
        {tag}
    </a>
</button>
