---
import TagIcon from './TagIcon.astro'
type Props = {
    tag: string
    count?: number
}

const { tag, count } = Astro.props

const buttonCopy = count ? `${tag} - ${count}` : tag
---

<a class="menu__item" href={`/tags/${tag}`}>
    <button type="button">
        <TagIcon />
        {buttonCopy}
    </button>
</a>

<style>
    button {
        & a {
        }
    }
</style>
