---
// interface Props {
//   storedTheme?: string;
// }

// const { storedTheme = 'auto' } = Astro.props;
---

<astro-theme-switcher>
  <form id="theme" data-select-theme class="box-l">
    <label class="box-no-border">
      Auto
      <input type="radio" name="theme" value="auto" />
    </label>
    <label class="box-no-border">
      Light
      <input type="radio" name="theme" value="light" />
    </label>
    <label class="box-no-border">
      Dark
      <input type="radio" name="theme" value="dark" />
    </label>
    <label class="box-no-border">
      Dim
      <input type="radio" name="theme" value="dim" />
    </label>
    <label class="box-no-border">
      Grape
      <input type="radio" name="theme" value="grape" />
    </label>
    <label class="box-no-border">
      Choco
      <input type="radio" name="theme" value="choco" />
    </label>
  </form>
</astro-theme-switcher>

<script src="./AstroSwitcher.js"></script>

<style>
  label {
    display: inline-block;
    padding-inline: var(--s0);
  }
</style>
