---
import Twitter from './Twitter/path-twitter.astro';

interface Props {
  // size?: string;
  // color?: string;
  // username?: string;
  platform: 'twitter';
  // ' | 'instagram' | 'github' | 'linkedin' | 'youtube';
}

const IconMap = {
  twitter: Twitter,
};

const { platform } = Astro.props;

const IconComponent = IconMap[platform];
---

<!-- <div style="font-size: 8rem">
  <span class="with-icon">
    <svg class="op-icon icon" viewBox="0 0 512 512"><Twitter /></svg>
  </span>
</div>
<style>
  .icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }

  .with-icon {
    display: inline-flex;
    align-items: baseline;
  }

  .with-icon .icon {
    margin-inline-end: 1rem;
  }
  .op-icon-p {
    stroke: var(--indigo-2);
    a:hover & {
      stroke: var(--indigo-1);
    }

    [data-theme='light'] & {
      stroke: var(--indigo-7);
    }

    [data-theme='light'] a:hover & {
      stroke: var(--indigo-8);
    }
  }

  .op-icon-o {
    stroke: var(--indigo-4);
    a:hover & {
      stroke: var(--indigo-3);
    }

    [data-theme='light'] & {
      stroke: var(--indigo-5);
    }
    [data-theme='light'] a:hover & {
      stroke: var(--indigo-6);
    }
  }
</style> -->
<svg class="op-icon icon" viewBox="0 0 200 200">
  <IconComponent />
</svg>

<style>
  .icon {
    width: 0.75em;
    width: 1cap;
    height: 0.75em;
    height: 1cap;
  }

  .with-icon {
    display: inline-flex;
    align-items: baseline;
  }

  .with-icon .icon {
    margin-inline-end: 1rem;
  }
  .op-icon-p {
    stroke: var(--indigo-2);
    a:hover & {
      stroke: var(--indigo-1);
    }

    [data-theme='light'] & {
      stroke: var(--indigo-7);
    }

    [data-theme='light'] a:hover & {
      stroke: var(--indigo-8);
    }
  }

  .op-icon-o {
    stroke: var(--indigo-4);
    a:hover & {
      stroke: var(--indigo-3);
    }

    [data-theme='light'] & {
      stroke: var(--brand);
    }
    [data-theme='light'] a:hover & {
      stroke: var(--brand);
    }
  }
</style>
