---
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
// import '../styles/global.css'
import { ViewTransitions } from 'astro:transitions'
/* the props */
import 'open-props/style'

/* optional imports that use the props */
import 'open-props/normalize'
import 'open-props/buttons'

/* just light or dark themes */
import 'open-props/normalize/dark'
import 'open-props/buttons/dark'
import 'open-props/normalize/light'
import 'open-props/buttons/light'

import 'open-props/shadow/shadows'

interface Props {
    pageTitle: string
}
const { pageTitle } = Astro.props
---

<style>
    :root {
        --brand-light: var(--orange-6);

        --text-1-light: var(--gray-8);
        --text-2-light: var(--gray-7);

        --surface-1-light: var(--gray-0);
        --surface-2-light: var(--gray-1);
        --surface-3-light: var(--gray-2);
        --surface-4-light: var(--gray-3);

        --brand-dark: var(--orange-3);

        --text-1-dark: var(--gray-3);
        --text-2-dark: var(--gray-5);

        --surface-1-dark: var(--gray-12);
        --surface-2-dark: var(--gray-11);
        --surface-3-dark: var(--gray-10);
        --surface-4-dark: var(--gray-9);

        --brand: var(--brand-light);

        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);

        --surface-1: var(--surface-1-light);
        --surface-2: var(--surface-2-light);
        --surface-3: var(--surface-3-light);
        --surface-4: var(--surface-4-light);

        --brand: var(--brand-light);

        --text-1: var(--text-1-light);
        --text-2: var(--text-2-light);
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --brand: var(--brand-dark);

            --text-1: var(--text-1-dark);
            --text-2: var(--text-2-dark);

            --surface-1: var(--surface-1-dark);
            --surface-2: var(--surface-2-dark);
            --surface-3: var(--surface-3-dark);
            --surface-4: var(--surface-4-dark);
        }
    }

    html {
        --brand-light: var(--orange-6);

        --text-1-light: var(--gray-8);
        --text-2-light: var(--gray-7);

        --surface-1-light: var(--gray-0);
        --surface-2-light: var(--gray-1);
        --surface-3-light: var(--gray-2);
        --surface-4-light: var(--gray-3);

        --brand-dark: var(--orange-3);

        --text-1-dark: var(--gray-3);
        --text-2-dark: var(--gray-5);

        --surface-1-dark: var(--gray-12);
        --surface-2-dark: var(--gray-11);
        --surface-3-dark: var(--gray-10);
        --surface-4-dark: var(--gray-9);

        background-color: var(--surface-1);
        color: var(--text-1);
        accent-color: var(--link);

        font-family: var(--font-sans);
        line-height: var(--font-lineheight-3);
    }

    body {
        margin: 0 auto;
        width: 100%;
        max-width: 80ch;

        /* padding: var(--size-fluid-3);
        line-height: var(--font-lineheight-3); */

        /* typeography */

        h1,
        h2,
        h3,
        h4,
        p,
        dt {
            color: var(--text-1);
        }

        h5,
        h6,
        small,
        dd {
            color: var(--text-2);
        }
    }

    .headline {
        padding: var(--size-fluid-1);
        /* border: var(--border-size-1) solid var(--text-2);
            border-color: black; */
    }
    /* utilities */
    .surface-1 {
        background-color: var(--surface-1);
        color: var(--text-2);
    }

    .surface-2 {
        background-color: var(--surface-2);
        color: var(--text-2);
    }

    .surface-3 {
        background-color: var(--surface-3);
        color: var(--text-1);
    }

    .surface-4 {
        background-color: var(--surface-4);
        color: var(--text-1);
    }

    /* :is(h1) {
            margin: var(--size-fluid-1) 0;
            font-size: var(--font-size-fluid-3);
            color: purple;
        }
        :is(h2) {
            margin: var(--size-fluid-1) 0;
            font-size: var(--font-size-fluid-1);
            color: var(--green-1);
        } */

    .button-class {
        border-radius: var(--radius-3);
        padding: var(--size-4) var(--size-8);
        box-shadow: var(--shadow-6);
        text-decoration: none;
        cursor: pointer;
        .blue & {
            color: var(--blue-6);
            background-color: var(--blue-0);
            border: var(--border-size-1) solid var(--blue-1);
            text-shadow: 0 1px 0 var(--blue-2);

            &:hover {
                background-color: var(--blue-1);
            }
        }
    }
</style>

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{pageTitle}</title>
        <ViewTransitions />
    </head>
    <body>
        <Header />
        <h1 class="headline">{pageTitle}</h1>

        <slot />
    </body>
    <Footer />
    <script>
        import '../scripts/menu.js'
    </script>
</html>
