---
import BaseHead from '@/components/BaseHead.astro';
import Social from '@/components/Social.astro';
import HeaderFooterWrapper from '@/components/header-footer.astro';

import { Cover, Center, Box, Cluster } from '@cc/index.js';
import AstroThemeSwitcher from '@/components/AstroSwitcher/index.astro';
import Link from '@/components/Link.astro';

// import SpeedInsights from '@vercel/speed-insights/astro';

interface Props {
  title?: string;
  description?: string;
  image?: string;
  children: unknown;
}

// const isProd = import.meta.env.PROD
// const isDev = import.meta.env.DEV

const {
  title = 'Mike Connor',
  description = 'my description',
  image = '/placeholder-social.jpg',
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
---

<html lang="en" transition:animate="none" data-theme="light">
  <head>
    <BaseHead title={title} description={description} image={image} />
    <link rel="canonical" href={canonicalURL} />
  </head>

  <body>
    <Cover centeredElement="div" space="0">
      <HeaderFooterWrapper
        backgroundColor="var(--text-2)"
        foregroundColor="var(--surface-4)"
        transition:persist
      >
        <Box borderWidth="0" padding="var(--s00)">
          <AstroThemeSwitcher />
        </Box>
        <Box borderWidth="0" padding="0">
          <Cluster align="baseline" justify="space-between" space="0">
            <Link isMainNav href="/">Mike Connor</Link>

            <Box borderWidth="0" padding="0">
              <nav>
                <Cluster align="baseline" justify="flex-end" space="var(--s0)">
                  <Link href="/authors/">authors</Link>
                  <Link href="/about/">About</Link>
                  <Link href="/icons/">Icons</Link>
                  <Link href="/kitchensink/">Kitchen Sink</Link>
                  <Link href="/blog/">Blog</Link>
                  <Link href="/tags/">Tags</Link>
                </Cluster>
              </nav>
            </Box>
          </Cluster>
        </Box></HeaderFooterWrapper
      >

      <div class="box-no-border">
        <Center><slot /></Center>
      </div>

      <HeaderFooterWrapper
        backgroundColor="var(--text-2)"
        foregroundColor="var(--surface-4)"
        transition:persist
      >
        <Cluster justify="space-around">
          <Social platform="twitter" username="mikeconnor504" />

          <Social platform="github" />
          <Social platform="linkedin" username="in/michaelgconnor" />
          <Social platform="youtube" username="michaelconnor" />
        </Cluster></HeaderFooterWrapper
      >
    </Cover>
  </body>
</html>
