---
import 'open-props/postcss/normalize';
import 'open-props/postcss/buttons';
import BaseHead from '@components/BaseHead.astro'
interface Props {
    pageTitle: string
    description: string
    image?: string
    children: any
}
const {
    pageTitle,
    description = 'my description',
    image = '/placeholder-social.jpg',
} = Astro.props
---

<style>
    html {
        background-color: var(--surface-1);
        color: var(--text-1);
        /* accent-color: var(--link); */
    }
    body {
        display: flex;
    }
</style>

<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
    </head>
    <body>
        <slot />
    </body>
</html>
